:root {
    --primary: #4c4c4c;
    --secondary: #000000;
    --bg: #EAE6CC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Teachers", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html body {
    overflow-x: hidden;
    max-width: 100%;
    background-color: rgba(220, 130, 4, 0.4);
}





/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3%;
    background: #fcb148;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    font-family: "Teachers", sans-serif;
    text-decoration: none;
}

.navbar .navbar-logo span {
    color: var(--secondary);
}

.navbar .navbar-container a {
    color: var(--primary);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 0.2rem;
    font-family: "Teachers", sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 18px;
    position: relative;
}

.navbar .navbar-container a:hover {
    color: var(--secondary);
    background-color: rgba(220, 130, 4, 0.4);
    border-radius: 12px;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.10); */
}

.navbar .navbar-container a:hover::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.navbar .navbaricon-container a {
    color: var(--primary);
    display: inline-block;
    margin: 0 0.2rem;
    padding: 10px 15px;
    position: relative;
}

.navbar .navbaricon-container a:hover {
    color: var(--secondary);
    background-color: rgba(220, 130, 4, 0.4);
    border-radius: 12px;
}

.navbar .navbaricon-container .navbar-menu {
    display: none;
}



/* navbar notif */
.navbar .navbarnotif-container {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffd498;
    width: 30rem;
    height:  50vh;
    transition: 0.3s;
    box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.navbar .navbarnotif-container.active2 {
    right: 0;
}







/* semua section */
/* section {
    height: 100vh;
} */





/* home section */
.home-section {
    min-height: 111vh;
    display: flex;
    align-items: center;
    background-color: #fcb148;
    background-image: url('gambar/homepic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: 0.3s;
    z-index: 5;
}

.home-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 1, 1, 0) 90%, #fcb148 99%);
    z-index: 6;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    z-index: 7;
}

.home-text {
    width: auto;
    margin-bottom: 80px;
}

.home-text h1{
    margin: 0;
    font-size: 5em;
}

.home-text p {
    margin-left: 2px;
    margin-top: -15px;
    font-size: 2em;
}





/* rutejadwal section */
.rutejadwal-section {
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.rutejadwal-content {
    width: 100%;
    height: 100%;
}

.rute-content {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 3rem 3%;
    background-color: #fcb148;
}

.rute-content .rute-text {
    display: inline-block;
    padding: 6px 20px;
    background-color: rgba(220, 130, 4, 0.4);
    border-radius: 12px;
    font-size: 20px;
}

.selectrute-content {
    padding: 10px;
}

.selectrute-content .selectrute {
    background-color: #fcb148;
    font-size: 20px;
}

.rute-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.rute-pic {
    display: none;
    width: 80%;
    height: auto;
}



.jdwl-content {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 3rem 3%;
    background-color: #fcb148;
}

.jdwl-content .jadwal-text {
    display: inline-block;
    padding: 6px 20px;
    background-color: rgba(220, 130, 4, 0.4);
    border-radius: 12px;
    font-size: 20px;
}

.selectlokasi-content {
    padding: 10px;
    margin-bottom: 20px;
}

.selectlokasi-content .selectlokasi {
    background-color: #fcb148;
    font-size: 20px;
}

.jadwal-container {
    display: none;
    width: 100%;
}
.jadwal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.jadwal-content div {
    padding: 6px 20px;
    background-color: rgba(220, 130, 4, 0.4);
    border-radius: 12px;
    font-size: 20px;
    margin: 5px;
    width: 80%;
    text-align: center;
}





/* tiket */
.tiket-section {
    min-height: 111vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #fcb148;
    background-image: url('gambar/tiketpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: 0.3s;
    z-index: 5;
}

.tiket-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(1, 1, 1, 0) 90%, #fcb148 99%);
    z-index: 6;
}

.tiket-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 7;
}

.tiket-text {
    width: auto;
    margin-bottom: 20px;
    margin-right: 100px;
}

.tiket-text h1{
    margin: 0;
    font-size: 5em;
    text-align: right;
}

.tiket-text p {
    margin-left: 2px;
    margin-top: -15px;
    font-size: 2em;
    text-align: right;
}

.tiket-pic {
    /* display: none; */
    margin-right: 400px;
    padding: 12px 12px;
    background-color: #DC8204;
    border-radius: 12px;
    width: 40%;
    height: auto;
}




/* footer */
.footer {
    background: #fcb148;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9998;
}

.footer-pad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0.8rem 20%;
}

.footer-pad .footer-logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    font-family: "Teachers", sans-serif;
    text-decoration: none;
}

.footer-pad .footer-logo span {
    color: var(--secondary);
}

.footer-pad p {
    color: var(--primary);

}

.footericon-container {
    height: 100px;
    position: relative;
    align-content: center;
}

.footer-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(100%) contrast(120%);
    transition: filter 0.3s;
}

.footer-x .footer-icon {
    filter: brightness(0) saturate(100%) invert(30%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(90%) contrast(100%);
}

.footer-ig .footer-icon {
    filter: brightness(0) saturate(100%) invert(30%) sepia(0%) saturate(9000%) hue-rotate(180deg) brightness(90%) contrast(100%);
}

.footer-fb .footer-icon {
    filter: brightness(0) saturate(100%) invert(30%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(90%) contrast(100%);
}

.footer-x:hover .footer-icon,
.footer-ig:hover .footer-icon,
.footer-fb:hover .footer-icon {
    filter: brightness(0) saturate(100%) invert(5%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(90%) contrast(120%);
}


.footer-pad .footericon-container a {
    display: inline-block;
    padding: 4px;
}

.footericon-container img {
    color: var(--primary);
    width: 40px;
    height: auto;
    margin: 5px;
}

.footericon-container img:hover {
    color: #DC8204;
}

.footer-pad .footericon-container .navbar-menu {
    display: none;
}

.copyright {
    padding: 5px;
}

.footer .copyright p {
    color: var(--primary);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    font-family: "Teachers", sans-serif;
    font-weight: 450;
    text-decoration: none;
    position: relative;
}




/* media */
/* Laptop */
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px){
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }
    
    .navbar .navbar-container {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #ffd498;
        width: 30rem;
        height:  100vh;
        transition: 0.3s;
    }

    .navbar .navbar-container.active {
        right: 0;
    }

    .navbar .navbar-container a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-container a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-container a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .navbaricon-container .navbar-menu {
        display: block;
    }

    .content {
        margin-left: 50px;
    }
    
    .content p {
        font-size: 1.5em;
        margin-top: -12px;
    }



    /* tiket */
    .tiket-text {
        width: 100%;
        height: auto;
        margin-bottom: 450px;
        text-align: center;
    }
    
    .tiket-text h1{
        margin: 0;
        font-size: 5em;
        text-align: center;
    }
    
    .tiket-text p {
        margin-left: 0px;
        margin-top: -12px;
        font-size: 2em;
        text-align: center;
    }
    
    .tiket-pic {
        margin-right: 0px;
        margin-top: 10px;
        padding: 8px 8px;
        background-color: #DC8204;
        border-radius: 8px;
        width: 50vh;
        height: auto;
    }

    .footericon-container img {
        color: var(--primary);
        width: 25px;
        height: auto;
        margin: 2px;
    }
}

/* Hp */
@media (max-width: 450px){
    html {
        font-size: 55%;
    }
}